h3(translate) Highlight

ul.nav-tabs(ngbNav, #nav='ngbNav')
    li(ngbNavItem)
        a(ngbNavLink, translate) Highlight
        ng-template(ngbNavContent)
            .form-line
                .header
                    .title(translate) Enable highlight
                    .description(translate) Highlight master switch
                toggle(
                    [(ngModel)]='config.store.highlightPlugin.highlightEnabled',
                    (ngModelChange)='apply();',
                )

            .content-box.w-100(*ngIf='config.store.highlightPlugin.highlightEnabled === true')
                .form-line
                    .header
                        .title(translate) Case sensitive
                    toggle(
                        [(ngModel)]='config.store.highlightPlugin.highlightCaseSensitive',
                        (ngModelChange)='apply();',
                    )
                .alert.d-flex.align-items-center(
                    [class.alert-success]='alertType === "success"',
                    [class.alert-danger]='alertType === "danger"',
                )
                    .me-auto
                        span(
                            translate,
                            [innerText]='alertMessage',
                        )
                button.btn.btn-primary((click)='addKeyword();')
                    i.fas.fa-solid.fa-plus
                    span(translate) Add
                .list-group.mt-3.mb-3(cdkDropList, (cdkDropListDropped)='drop($event)')
                    .list-group-item.active.d-flex.align-items-center()
                        span.text-center(translate, style='width: 44px; flex: none;') ON
                        span.text-center.ms-1(translate, style='width: 30px; flex: none;') RegExp
                        span.text-center(translate, style='width: 100%;') Keyword
                        span.text-center.ms-1(translate, style='width: 86.6px; flex: none;') #BG
                        span.text-center.ms-1(translate, style='width: 86.6px; flex: none;') #FG
                        span.text-center.ms-1(translate, style='width: 38px; flex: none;') DEL
                    ng-container(*ngFor='let item of config.store.highlightPlugin.highlightKeywords; let i = index;')
                        .list-group-item.d-flex.align-items-center(cdkDrag)
                            toggle(
                                cdkDragHandle
                                style='width: 60px; flex: none;',
                                [(ngModel)]='item.enabled',
                                (ngModelChange)='apply();',
                            )
                            .content-box.d-flex.align-items-center.w-100(
                                [style.opacity]='item.enabled ? 1 : 0.5',
                            )
                                checkbox.ms-1(
                                    [(ngModel)]='item.isRegExp',
                                    (ngModelChange)='apply();',
                                )
                                input.form-control(
                                    type='text',
                                    [style.color]='item.foreground ? config.store.terminal.colorScheme.colors[item.foregroundColor ?? 1] : config.store.terminal.colorScheme.colors[0]',
                                    [style.background-color]='item.background ? config.store.terminal.colorScheme.colors[item.backgroundColor ?? 1] : "transparent"',
                                    [(ngModel)]='item.text',
                                    (ngModelChange)='apply();',
                                )
                                checkbox.ms-1(
                                    [(ngModel)]='item.background',
                                    (ngModelChange)='apply();',
                                )
                                input.form-control(
                                    type='number',
                                    min='0',
                                    max='15',
                                    style='width: 60px; flex: none;',
                                    [(ngModel)]='item.backgroundColor',
                                    (ngModelChange)='apply();',
                                )
                                checkbox.ms-1(
                                    [(ngModel)]='item.foreground',
                                    (ngModelChange)='apply();',
                                )
                                input.form-control(
                                    type='number',
                                    min='0',
                                    max='15',
                                    style='width: 60px; flex: none;',
                                    [(ngModel)]='item.foregroundColor',
                                    (ngModelChange)='apply();',
                                )
                            button.btn.btn-outline-secondary.ms-1(
                                style='width: 38px; flex: none;',
                                (click)='removeKeyword(i);',
                            )
                                i.fas.fa-solid.fa-trash

            .alert.alert-info.d-flex.align-items-center
                .me-auto
                    span(translate) Change any setting of highlight only apply in new sessions.
div([ngbNavOutlet]='nav')